@import '~@alifd/next/lib/nav/index.scss';

@import '~@alifd/next/lib/icon/index.scss';

$top: 50px;
.left-menu {
  position: fixed;
  top: $top;
  bottom: 0;
  overflow: auto;
  width: 180px;
  z-index: 100;
  height: 100%;
  background-color: #333;
  .next-menu.next-nav-primary.next-ver .next-menu-item .next-menu-item-inner{
      font-size:14px;
  }
  .left-nav{
    border: none;
    color: white;
    .left-nav-item{
      color: white;
      a{
        display: inline-block;
        color: white;
      }
    }
  }
  .fold-btn{
    width: 100%;
    height: 50px;
    color: white;
    line-height: 50px;
    background: #394555;
    text-align: center;
    cursor: pointer;
  }
  &.left-menu-folden{
    width: 60px;
  }
}
